@media (min-width: 992px) {
  .planet-listings div.col-md-4:nth-child(3n+4) {
    clear: both; } }

.planet-listings .planet-listings__planet {
  margin-bottom: 20px;
  background-color: #f0ad4e;
  padding: 20px; }
  .planet-listings .planet-listings__planet .planet-listings__planet__img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative; }
    .planet-listings .planet-listings__planet .planet-listings__planet__img img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      transform: translate(-50%, -50%); }
  .planet-listings .planet-listings__planet .planet-listings__planet__currency i {
    font-size: 0.8em; }
