.planet-listings .planet-listings__planet {
  padding-bottom: 20px; }
  @media (min-width: 992px) {
    .planet-listings .planet-listings__planet:nth-child(1n) {
      clear: both; } }
  .planet-listings .planet-listings__planet .planet-listings__planet__img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative; }
    .planet-listings .planet-listings__planet .planet-listings__planet__img img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
