@import './../bootstrap/stylesheets/bootstrap/_variables.scss'; 

.planet-listings{
    div.col-md-4{
        @media (min-width: $screen-md-min){
            &:nth-child(3n+4){
                clear: both;
            }
        }
    }
    .planet-listings__planet{
        margin-bottom: 20px;
        background-color: $brand-warning;
        padding: 20px;
        .planet-listings__planet__img{
            width: 100%;
            height: 200px;
            overflow: hidden;
            position: relative;
            img{
                position: absolute;
                left: 50%;
                top: 50%;
                height: 100%;
                width: auto;
                transform: translate(-50%,-50%);
            }
        }
        .planet-listings__planet__currency{
            i{
                font-size: 0.8em;
            }
        }
    }
}